<ion-view title="Contato">
    <ion-content padding="true" class="">
        <div class="card" style="margin-top:5px">
            <div class="item item-image">
                <img src="../img/contato/banner_int.jpg" class="full-image">
            </div>
        </div>
        <div class="transparent">
            <h2></h2>
            <div> <span style="color: rgb(66, 66, 66);">Escolha a melhor maneira de entrar em contato conosco</span> </div>
        </div>
        <div class="transparent"> <a href="tel:(71) 3565-6037" class="button button-balanced button-block">Ligue agora</a> </div>
        <ion-list type="card">
            <ion-item class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> 
                <h2>
                    Telefone fixo
                </h2>
                <p>(71) 3565-6037</p>
            </ion-item>
            <ion-item class="item item-icon-left">
                <i class="icon ion-iphone"></i> 
                <h2>
                    Celular
                </h2>
                <p>71-98702-6037</p>
            </ion-item>
            <ion-item class="item item-icon-left">
                <i class="icon ion-android-mail"></i> 
                <h2>
                    Email
                </h2>
                <p>centroautomotivo@gmail.com</p>
            </ion-item>
            <ion-item class="item item-icon-left">
                <i class="icon ion-earth"></i> 
                <h2>
                    Website
                </h2>
                <p>www.centroautomotivomagicoluiz.com.br</p>
            </ion-item>
            <ion-item class="item item-icon-left">
                <i class="icon ion-android-home"></i> 
                <h2>
                    Endere&ccedil;o
                </h2>
                <p>Lad. dos Perd&otilde;es 91 - Barbalho</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>