<ion-view title="Localiza&ccedil;&atilde;o">
    <ion-nav-buttons side="secondary">
        <button ng-click="getRoute()" class="button icon ion-navigate">Get route</button>
    </ion-nav-buttons>
    <ion-content padding="false" class="" ng-controller="MapCtrl" ng-init="sl = 'eyJpdiI6Ikxvb29GV0lLRTllTk1ZcVZRVFhnd3c9PSIsInZhbHVlIjoic1ZcL2JJVVZpVWpwaDJnWG5sOE1PbXpGc3BEOHlyZTQySFJmUHp2UEFUamc9IiwibWFjIjoiMWVmNTgwNjU1OWEwNmIxOWYwNGMwYTE4NjllN2FiYWFmOGMyYmUwYTg3ZjI0NDM5MzMwMmQwNjhkNjAxODY1MCJ9';id = '6'" data-tap-disabled="true">
        <leaflet id="map6" markers="markers" defaults="defaults"></leaflet>
    </ion-content>
</ion-view>