<ion-view title="Servi&ccedil;os">
    <ion-content padding="true" class="">
        <div class="card" style="margin-top:5px">
            <div class="item item-image">
                <img src="../img/xn-servios-yxa/banner_int.jpg" class="full-image">
            </div>
        </div>
        <div class="transparent">
            <div>
                <h3>
                    <span style="font-size: 13px; line-height: 1.42857;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LIMPEZA DE PICO VIA "ULTRASSOM"</span></span>
                    <span style="font-family: Verdana; color: rgb(66, 66, 66);">
                        <br>
                    </span>
                </h3>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LIMPEZA DAS V&Aacute;LVULAS</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">DESCONTAMINA&Ccedil;&Atilde;O DO MOTOR</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">DESCARBONIZA&Ccedil;&Atilde;O DAS V&Aacute;LVULAS&nbsp;</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LIMPEZA DO CORPO DE BORBOLETA</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LIMPEZA DO ARREFECIMENTO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">HIGIENIZA&Ccedil;&Atilde;O DO AR CONDICIONADO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CHECK-UP ELETR&Ocirc;NICO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;">
                    <span style="font-family: Verdana; color: rgb(66, 66, 66);">
                        <span style="line-height: 1.42857;">REVIS&Atilde;O DE CONCESSION&Aacute;RIA&nbsp;</span>
                        <br>
                    </span>
                </p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 5px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">TROCA DE &Oacute;LEO</span></p>
                <p style="padding: 0px; margin-top: 5px; margin-bottom: 10px; line-height: 1.4;">
                    <span style="font-family: Verdana; color: rgb(66, 66, 66);">
                        <span style="line-height: 1.42857;">REAPERTO GERAL</span>
                        <br>
                    </span>
                </p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LUBRIFICA&Ccedil;&Atilde;O</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">TROCA DOS FILTROS</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CARGA DE G&Aacute;S</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">ALINHAMENTO + BALANCEAMENTO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CAMBAGEM</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CARTER</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">SUSPENS&Atilde;O</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">DIRE&Ccedil;&Atilde;O</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 5px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">FREIO</span></p>
                <p style="padding: 0px; margin-top: 5px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">MOTOR</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CAMBIO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">EMBREAGEM</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">ESCAPAMENTO</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LAVAGEM DE MOTOR</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">EL&Eacute;TRICA</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">VAZAMENTO EM GERAL BARULHOS INTRIGANTES</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">LOCALIZAMOS PE&Ccedil;AS</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">CHAPARIA&nbsp;</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 10px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">PINTURA</span></p>
                <p style="padding: 0px; margin-top: 10px; margin-bottom: 5px; line-height: 1.4;"><span style="font-family: Verdana; color: rgb(66, 66, 66);">POLIMENTO</span></p>
            </div>
        </div>
    </ion-content>
</ion-view>